<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::body})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="title">Add Exam</div>
        <form class="form" method="post" th:action="@{/exams}" th:object="${exam}">
            <div class="inputfield">
                <label>Date</label>
                <input name="date" type="date" class="input" required >
            </div>
            <div class="inputfield">
                <label>Slot No</label>
                <input name="slot" type="text"  class="input" required >
            </div>
            <div class="inputfield">
                <label>Standard</label>
                <input name="standard" type="text" class="input" required >
            </div>
            <div class="inputfield">
                <label>Total Marks</label>
                <input name="totalMarks" type="text" class="input" required >
            </div>
            <div class="inputfield">
                <label>Exam Type</label>
                <input name="type" type="text" class="input" required >
            </div>
            <div class="inputfield">
                <label>Subject Id</label>
                <input name="subId.SubId" type="text" class="input" required >
            </div>
            <div class="inputfield">
                <input type="submit" value="SUBMIT" class="btn">
            </div>
        </form>
    </div>

</body>
</html>