<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- SEO Meta Tags -->
        <meta name="description" content="My Academia">
        <meta name="keywords" content="school website, responsive">
        <meta name="author" content="Yashwini Bansal">
    
        <!-- Website Title -->
        <title>My Academia</title>
        
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700,700i&display=swap" rel="stylesheet">
    
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/fontawesome-all.css" rel="stylesheet">
        <link href="css/swiper.css" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">
    
        <link rel="icon" href="images/logo2.jpg">
    
        <!-- Scripts -->
        <script src="js/jquery.min.js" defer></script>
        <script src="js/popper.min.js" defer></script>
        <script src="js/bootstrap.min.js" defer></script>
        <script src="js/jquery.easing.min.js" defer></script>
        <script src="js/swiper.min.js" defer></script>
        <script src="js/validator.min.js" defer></script>
        <script src="js/scripts.js" defer></script>
    </head>
    <body  data-spy="scroll"  data-target=".fixed-top">
        
        <!-- Preloader -->
        <div class="spinner-wrapper">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
        <!-- end of preloader -->
        

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">

            <!-- Logo -->
            <a class="navbar-brand logo-image" href="./index.html"><img src="./images/logo.jpg"></a><h3>MY ACADEMIA</h3>
            
            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-awesome fas fa-bars"></span>
                <span class="navbar-toggler-awesome fas fa-times"></span>
            </button>
            <!-- end of mobile menu toggle button -->

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="./teachers.html">PROFILE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#">LOGOUT</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <table class="table table-striped table-bordered table-hover table-condensed">
            <tr>
                <th>Roll No.</th>
                <th>Name</th>
            </tr>
            <tr>
                <td>1</td>
                <td>...</td>
            </tr>
            </table>
        </div>
        
        <!-- Footer -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="footer-col first">
                            <h5>SCHOOL MOTTO</h5>
                            <p class="p-small">Sed felis eget velit aliquet sagittis id. Hac habitasse platea dictumst quisque sagittis purus sit. Nisi lacus sed viverra tellus in hac habitasse. Faucibus vitae aliquet nec ullamcorper sit. Varius duis at consectetur lorem donec massa sapien.</p>
                        </div>
                    </div> <!-- end of col -->
                    <div class="col-md-4">
                        <div class="footer-col fourth">
                            <h5>Social Media</h5>
                            <p class="p-small">For news & updates follow us</p>
                            <a href="#your-link">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#your-link">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#your-link">
                                <i class="fab fa-pinterest-p"></i>
                            </a>
                            <a href="#your-link">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#your-link">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a href="#your-link">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div> 
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of footer -->  
        <!-- end of footer -->


        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="p-small">Copyright © 2021 - All rights reserved</p>
                    </div> <!-- end of col -->
                </div> <!-- enf of row -->
            </div> <!-- end of container -->
        </div> <!-- end of copyright --> 
        <!-- end of copyright -->
    </body>
</html>